@use "styles/media" as mediaQuery;

.overlay {
  position: absolute;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0rem auto;
  width: 100%;
  height: calc(90vh - 10rem);

  @include mediaQuery.breakpoint("tablet") {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}

.topLeft {
  display: flex;
  align-self: flex-start;
  // @include mediaQuery.breakpoint("tablet") {
  //   transform: translateX(-1rem);
  // }
}

.topLeft,
.bottomRight {
  &:hover {
    [class*="gradient1"] {
      stop-color: var(--grad-2) !important;
    }
    [class*="gradient2"] {
      stop-color: var(--grad-1) !important;
    }
  }
}

.bottomRight {
  display: flex;
  align-self: flex-end;
  transform: rotate(180deg);
  @include mediaQuery.breakpoint("tablet") {
    display: none;
  }
}
