.overlay {
  position: absolute;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0rem auto;
  width: 100%;
  height: calc(90vh - 10rem);
}

.topLeft {
  display: flex;
  align-self: flex-start;
}

.topLeft,
.bottomRight {
  &:hover {
    [class*="gradient1"] {
      stop-color: var(--grad-2) !important;
    }
    [class*="gradient2"] {
      stop-color: var(--grad-1) !important;
    }
  }
}

.bottomRight {
  z-index: 10;
  display: flex;
  align-self: flex-end;
  transform: rotate(180deg);
}
