.container {
  max-width: calc(var(--max-width) - 400px);
  flex-direction: column;
  margin: 2rem auto 0 auto;
  padding: 2rem;
  min-height: 100vh;

  .hi {
    color: var(--green);
    margin: 2rem 0;
    font-size: 1.5rem;
  }

  .name {
    font-size: clamp(40px, 8vw, 80px);
    color: var(--lightest-slate);
    letter-spacing: 2px;
  }

  .intro {
    font-size: clamp(40px, 8vw, 80px);
    color: var(--slate);
    font-weight: 600;
  }

  .text {
    margin: 20px 0px 0px;
    color: var(--slate);
    max-width: 600px;
    a {
      color: var(--green);
      cursor: pointer;
    }
  }
}
