@mixin fadeInDropDown(
  $name: fadeInDropDown,
  $distance: 100px,
  $time: 0.25s,
  $delay: 0s,
  $time-func: ease-in-out
) {
  @keyframes #{$name} {
    0% {
      transform: translateY($distance);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  opacity: 0;
  transform: translateY($distance);
  animation: $name $time ease-in-out forwards;
  animation-delay: $delay;
}
