@use "styles/media" as mediaQuery;

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  width: 100%;
  aspect-ratio: 1/1;

  @include mediaQuery.breakpoint("phone-lg") {
    width: calc(100vw - 8rem);
  }

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: var(--border-radius);
    transition: var(--transition);
    border: 2px solid var(--green);
    top: 20px;
    left: 20px;
    z-index: -1;
  }

  &:hover:after {
    top: 10px;
    left: 10px;
  }

  img {
    object-fit: cover;
    border-radius: var(--border-radius);
  }
}
