.layout {
  background-color: var(--navy);
  min-height: 100vh;
  position: relative;
  padding: 0 2rem;
}

.container {
  min-height: 100vh;
  margin: auto;
  line-height: 1.3;
  position: relative;

  p {
    line-height: 1.5rem;
  }
}

.bottom-links {
  position:fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
}
