.btn {
  background-color: var(--navy);
  border: 1px solid var(--green);
  height: 40px;
  line-height: 1.2em !important;
  
  padding: 0 1rem;
  border-radius: 4px;
  margin-inline-start: 2rem;

  &:hover {
    background-color: var(--green-tint) !important;
  }

  div {
    font-size: var(--fz-md);
    color: var(--green);
    display: block;
    transform: translateY(2px);
  }
}
