@use "styles/media" as mediaQuery;
@import "styles/animation.scss";

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  align-items: center;
  align-self: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(10, 25, 47, 0.85);
  transition: var(--transition);

  @include mediaQuery.breakpoint("tablet") {
    padding: 1rem;
  }

  svg {
    @include fadeInDropDown(-20px);
    // @include fadeInDropDown(10px);
  }

  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    @include mediaQuery.breakpoint("tablet") {
      display: none;
    }
  }

  ul {
    display: flex;
    flex-direction: row;

    .item {
      margin: 0 2rem;
      padding: 1rem 0;
      list-style-type: none;
      counter-increment: list;
      position: relative;
      cursor: pointer;

      @include fadeInDropDown(-20px);

      @include mediaQuery.breakpoint("desktop-sm") {
        margin: 0 1.5rem;
        padding: 1rem 0;
      }

      &::after {
        content: counter(list) ".";
        position: absolute;
        left: -2.5em;
        width: 2em;
        text-align: right;
        color: var(--green);
      }
      a:hover {
        color: var(--green);
      }
    }
  }
  .download {
    background-color: var(--navy);
    color: var(--green);
    border: 1px solid var(--green);
    padding: 0 1rem;
    height: 40px;
    line-height: 1.2em !important;

    border-radius: 4px;
    margin-inline-start: 2rem;

    // animation start
    @include fadeInDropDown(-20px);

    @include mediaQuery.breakpoint("desktop-sm") {
      margin-inline-start: 1rem;
      margin-inline-end: 0.25rem;
    }

    @include mediaQuery.breakpoint("tablet-lg") {
      margin: 0rem;
    }
    @include mediaQuery.breakpoint("tablet") {
      display: none;
    }

    &:hover {
      background-color: var(--green-tint) !important;
    }
  }
}

.scrollDown .container {
  transform: translate3d(0, -100%, 0);
}

.scrollUp .container {
  transform: none;
  box-shadow: 0 0 10px var(--navy-shadow);
  backdrop-filter: blur(10px);
}

.hamburger {
  display: none;
  @include mediaQuery.breakpoint("tablet") {
    display: flex;
  }
}

/* Apply the animation to each list item one by one */
$offset: var(--preloader-end-time);

.container svg,
.hamburger,
.item:nth-child(1) {
  animation-delay: $offset !important;
}

.item:nth-child(2) {
  animation-delay: calc($offset + 0.1s) !important;
}

.item:nth-child(3) {
  animation-delay: calc($offset + 0.2s) !important;
}

.item:nth-child(4) {
  animation-delay: calc($offset + 0.3s) !important;
}

.download {
  animation-delay: calc($offset + 0.4s) !important;
}
