.container {
  .title {
    color: var(--green);
    font-size: var(--fz-heading);
    margin: 2rem 0 1rem 0;
  }

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin: 2rem auto;
  }

  > div {
    display: grid;
    width: 100%;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  z-index: 1;
  background-color: var(--light-navy);
  border-radius: var(--border-radius);
  padding: 1.5rem 1.5rem 1rem 1.5rem;
  box-shadow: 0 20px 30px -15px var(--navy-shadow);
  transition: var(--transition);

  &:hover {
    transform: translateY(-5px);
    h2 {
      color: var(--green) !important;
    }
  }

  .header {
    .icons {
      display: flex;
      justify-content: space-between;
      padding-bottom: 1rem;
    }
    .links {
      display: flex;
      align-items: center;
      gap: 0.25rem;
    }

    .title {
      color: var(--white);
      color: var(--lightest-slate);
      font-size: var(--fz-xxl);
      margin: 0;
      margin-bottom: 0.5rem;
    }
  }
  p {
    color: var(--light-slate);
    font-size: 17px;
    line-height: 1.3rem;
    font-weight: 300;
  }
  footer {
    padding-top: 1rem;
    margin-top: auto;
    .techs {
      padding-inline-start: 0;
    }
  }
}

@media screen and (max-width: 1000px) {
  .container > div {
    grid-template-columns: 1fr 1fr;
  }
}
