@use "styles/media" as mediaQuery;

.container {
  position: fixed;
  bottom: 0;
  right: 0;

  @include mediaQuery.breakpoint("desktop-sm") {
    right: -20px;
  }

  @include mediaQuery.breakpoint("tablet-lg") {
    display: none;
  }
}

.email {
  padding: 0rem 2rem 1rem 2rem;
  writing-mode: vertical-rl;
  text-decoration: none;
  cursor: pointer;
  font-size: 0.75rem;
  transition: var(--transition);

  &:hover {
    color: var(--green) !important;
    transform: translateY(-2px);
  }
}

.vertical {
  border-left: 2px solid var(--slate);
  padding: 4rem 2px;
  margin: 0 2.5rem;
}
