.container {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.email {
  padding: 0rem 5rem 1rem 2rem;
  writing-mode: vertical-rl;
  text-decoration: none;
  cursor: pointer;
  font-size: 0.75rem;
  transition: var(--transition);

  &:hover {
    color: var(--green) !important;
    transform: translateY(-2px);
  }
}

.vertical {
  border-left: 2px solid var(--slate);
  padding: 4rem 2px;
  margin: 0 2.5rem;
}
